extends layout

block layout-content
  div.list
    div.heading 
      h2 #{title}
    if campaigns.length
      each campaign in campaigns
        ul
          li
            a(href="/campaigns/"+campaign.id) Campaign #{campaign.id} #{campaign.canal.name}  #{campaign.buttons}
    else 
      p No campaigns
