extends layout

block layout-content
  div.View
    h1.Banner Fromni
    div.Message
      div.Title
        h3 Welcome
    div.NavButtons
      ul(style='list-style-type:none')
        li
          a(href="/campaigns/create") Create new campaign
        li
          a(href="/campaigns") List of campaigns